body {
    font-family: sans-serif;
    background-color: #101020; 
    color: #ffffff; 
    line-height: 2.0;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

h1 {
    background-color: #101020; 
    color: #00ffff; 
    padding: 20px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 10px 10px 0px #00ffff;
}

body > div {
    background-color: #202030;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-left: 10px solid #00ffff;
}

h2 {
    color: #00ffff;
    border-bottom: 2px solid #00ffff;
    padding-bottom: 10px;
    margin-top: 0;
}

h3 {
    color: #ffffff;
}

div#gakushu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
    padding: 0;
}

div#gakushu > div {
    background-color: #202030;
    padding: 20px;
    border-radius: 10px;
    border-top: 5px solid #00ffff;
}

a {
    color: #00ffff; 
    text-decoration: none;
    font-weight: bold; 
}

a:visited {
    color: #ff00ff; 
}

a:hover {
    color: #101020;
    background-color: #00ffff;
    padding: 5px 10px;
    border-radius: 5px;
}